       html {
            scroll-behavior: smooth;
        }

        * {
            box-sizing: border-box;
        }

        .mybody {
            margin: 0px;
            font-family: "Raleway", sans-serif;
        }
